.jhon {
    margin: auto;
    min-width: 100px;
    min-height: 100px;
    color: black;
    text-align: center;
    border-radius: 10px;
    margin: 4px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
       